.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.personalImg {
	height:150px; 
	width:150px; 
	border-radius:50%; 
	overflow: hidden; 
	margin: 0px auto;
	border:black dashed 3px;
}
.pImg {
	height: 100%;
	width: 100%;
}
.featureIcon {
	padding: 10px; 
	text-align: center;
}
.btnHidden {
	margin:0px 10px; 
	cursor: default;  
}
.btnFeature {
	margin:0px 10px; 
	box-shadow: 3px 3px rgb(46, 46, 46);
	padding: 5px;
}
.pieceOfWork {
 	/* display: flex; */
	margin: 10px 0px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.397); 
	border-radius: 10px; 
	box-shadow: 1px 1px 3px black;
}
.workText {
	/* padding:10px;  */
	font-weight:300;
	color: white; 
}
.edit {
	padding-left:3px;
}
.edit:hover {
	background-color: rgba(177, 177, 198, 0.5);
	border-radius:3px;
	padding-left:3px;
}