.productbox {
	background-color:rgba(255, 255, 255, 0.5); 
	height: 450px; 
	width: 300px; 
	padding: 10px 25px; 
	border-radius: 5px; 
	box-shadow: 3px 3px 3px rgb(2, 14, 53); 
	margin: 20px 0px;	
}
.productboxMD {
	display:flex;
	background-color:rgba(255, 255, 255, 0.5); 
	height: 150px; 
	width: 500px;  
	border-radius: 5px; 
	box-shadow: 3px 3px 3px rgb(2, 14, 53); 
	margin: 10px 10px;
}
.imgFrame {
	height: 250px; 
	width: 250px; 
	overflow: hidden; 
	display: flex; 
	justify-content: center; 
	box-shadow: 1px 1px 1px rgb(2, 14, 53);  
}
.imgFrameMD {
	height: 130px; 
	width: 130px; 
	overflow: hidden; 
	display: flex;
	margin: 10px 10px; 
	justify-content: center; 
	box-shadow: 1px 1px 1px rgb(2, 14, 53);
	cursor :pointer;
}
.textFrame {
	height: 100px; 
	width: 250px;
	margin-top:5px;
} 
.textFrameMD {
	margin-top:10px;
	height: 100px; 
	width: 250px;
}
.prodName {
	margin:0px; 
	font-weight: 600; 
	font-size: 17px; 
}
.prodImg {
	width: 100%; 
	height:100%;  
}
.imgBlock {
	height: 500px; /*can be anything*/
    width: 500px; /*can be anything*/
    position: relative;
}
.prodDetailImg {
	max-height: 500px;  
    max-width: 500px; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    border:10px rgba(255, 255, 255, 0.767) solid;
    border-radius:5px;
    box-shadow: 1px 1px 3px black;
    
}
.prodCompany {
	margin:0px; 
	font-weight: 300; 
}
.prodIntro {
	margin:0px; 
	font-weight: 400; 
	font-size: 14px;  
	width:260px; 
	height:30px; 
	text-overflow : ellipsis;
	white-space:nowrap; 
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}
.prodPrice {
	margin-bottom:20px; 
	font-weight: 200; 
	font-size: 26px; 
	display:inline; 
	color:#443966;
}
.addCartBtn {
	outline:none; 
	background-color:rgba(255,255,255,0.0); 
	border:0px;
	
}
.addCartBtn:focus {
	outline:none;
}
#productPage {
	display: flex; 
	width: 100%; 
	justify-content: center; 
}
.priceBlock {
	/* direction: rtl; */
	text-align: right;
}
.hidden {
	visibility: hidden;
}