.carousel-item {
    background-image: url("../image/night.jpg");
    background-size: cover;
    width: 100%;
}

.p-container {
    
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}


.p-username {
    float: right;
    
    font-size: 16px;
    font-family: '微軟正黑體';
    font-weight: 900;
    color:white;
}

.p-time {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    font-family: '微軟正黑體';
    font-weight: 600;
    color:white;
}

.p-img {
    overflow: hidden;
    margin:0 auto;
    box-shadow: 1px 1px 1px rgb(2, 14, 53);
}

.p-font {
    
    margin:0 auto;
    font-family: '微軟正黑體';
    font-weight: 600;
    color:white;
    font-size: 14px;
    margin-bottom: 20px;
}

.p-title {
    font-family: '微軟正黑體';
    font-weight: 600;
    color:white;
    font-size: 16px;
    margin-top: 20px;
    margin:0 auto;
    
}